<section class="relative z-50 py-8 lg:py-32">
    <div class="relative mx-auto content-wrapper">
        <img src="/assets/welcome.jpg" alt="Inside of the massage studio" class="rounded-sm lg:max-w-2xl">
        <div class="max-w-2xl p-8 space-y-4 bg-white rounded-sm lg:absolute right-16 top-16 chill-box">
            <h3 class="text-3xl text-headerText">Relaxation and Soothing Treatments</h3>
            <hr class="w-12 border-b-2 rounded-full border-secondaryColor">
            <p class="text-lg text-gray-700">Message From Betsy Galarza: <br> Quantum Vita Body Therapy (QVBT) welcomes you to explore the physical and tranquil benefits of a therapeutic massage at our convenient downtown Jersey City location: 124 Brunswick Street, Jersey City, New Jersey 07302. QVBT assures that each customer will undergo a professional and fulfilling experience. Come and seek Peace & Harmony with us at QVBT. Namaste.</p>
            <a href="/about" class="inline-block mt-2 text-primaryColor hover:underline">Learn more about our practice</a>
        </div>
    </div>
</section>

<style lang="scss">
    .chill-box {
        @media (min-width: 640px) {
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08), 16px 16px 2px rgba(240, 226, 163, 0.65);
        }
    }
</style>
