---
---
<section class="relative z-50 py-8 lg:py-32">
    <div class="relative mx-auto content-wrapper">
        <img src="/assets/welcome.jpg" alt="">
        <div class="max-w-2xl p-8 space-y-4 bg-white rounded-sm lg:absolute right-16 top-16 chill-box">
            <h3 class="text-3xl text-headerText">Honest care for body and mind</h3>
            <hr class="w-12 border-b-2 rounded-full border-secondaryColor">
            <p class="text-lg text-gray-700">Quantum Vita Body Therapy is a massage business that has been serving its clients with customized treatments since 2003. Quantum Vita is dedicated to providing the best therapeutic massage to each and every client. With specialties ranging from Deep Tissue, Neuromuscular, Therapy, Swedish,Pre-Post Natal, and Manual Lymph Drainage, you will surely find the right massage treatment to suit your specific needs.</p>
        </div>
    </div>
</section>

<style>
    .chill-box {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.08), 16px 16px 2px rgba(240, 226, 163, 0.65);
    }
</style>
