<section class="z-50 relative bg-white max-w-[90rem] -mt-32">
    <div class="flex py-12 space-x-24 xl:pl-48">
        <div class="pr-32 space-y-4 border-r border-primaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" class="w-12">
                <circle cx="24" cy="24" r="24" fill="#3F3F46"/>
                <path fill="#3F3F46" d="M12 12h24v24H12z"/>
                <path stroke="#EBD07F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17c0-1.1046.8954-2 2-2h3.2792c.4305 0 .8126.2754.9487.6838l1.4978 4.4934c.1574.4721-.0563.9881-.5014 1.2107l-2.2573 1.1286c1.1022 2.4447 3.0718 4.4143 5.5165 5.5165l1.1286-2.2573c.2226-.4451.7386-.6588 1.2107-.5014l4.4934 1.4978c.4084.1361.6838.5182.6838.9487V31c0 1.1046-.8954 2-2 2h-1c-8.2843 0-15-6.7157-15-15v-1z"/>
            </svg>
            <h3 class="text-2xl text-gray-800">Contact</h3>
            <div class="space-y-2">
                <p class="text-gray-600">(201) 630-0770</p>
                <p class="text-gray-600">(201) 921-6652</p>
            </div>
            <p class="text-gray-600">bodywork@quantumvita.com</p>
        </div>
        <div class="pr-32 space-y-4 border-r border-primaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" class="w-12">
                <circle cx="24" cy="24" r="24" fill="#3F3F46"/>
                <path fill="#3F3F46" d="M12 12h24v24H12z"/>
                <path stroke="#EBD07F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M29.6569 28.6569c-.9367.9366-2.8953 2.8952-4.2431 4.243-.7811.7811-2.0461.7815-2.8272.0004-1.3243-1.3243-3.245-3.245-4.2435-4.2434-3.1241-3.1242-3.1241-8.1896 0-11.3138 3.1242-3.1241 8.1896-3.1241 11.3138 0 3.1241 3.1242 3.1241 8.1896 0 11.3138z"/>
                <path stroke="#EBD07F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M27 23c0 1.6569-1.3431 3-3 3s-3-1.3431-3-3 1.3431-3 3-3 3 1.3431 3 3z"/>
            </svg>
            <h3 class="text-2xl text-gray-800">Location</h3>
            <div>
                <p class="text-gray-600">124 Brunswick Street</p>
                <p class="text-gray-600">Jersey City, New Jersey 07302.</p>
            </div>
        </div>
        <div class="space-y-4">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 48 48" class="w-12">
                <circle cx="24" cy="24" r="24" fill="#3F3F46"/>
                <path fill="#3F3F46" d="M12 12h24v24H12z"/>
                <path stroke="#EBD07F" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M24 20v4l3 3m6-3c0 4.9706-4.0294 9-9 9s-9-4.0294-9-9 4.0294-9 9-9 9 4.0294 9 9z"/>
            </svg>
            <h3 class="text-2xl text-gray-800">Hours</h3>
            <p class="text-gray-600">By Appointment only</p>
        </div>
    </div>
</section>
