---
import BaseLayout from '../layouts/BaseLayout.astro'

import PageHeader from '../components/PageHeader.astro'
import PageIntro from '../components/PageIntro.astro'
import CTA from '../components/CTA.astro';
---

<BaseLayout title="About Quantum Vita">
    <PageHeader title="About Quantum Vita" image="contact" />
    <PageIntro introTitle="About Quantum Vita" text="Quantum Vita Body Therapy is a massage business that has been serving its clients with customized treatments since 2003." />
    <main class="px-4 pt-4 pb-12 mx-auto prose prose-lg max-w-7xl sm:px-6">
        <section class="grid lg:gap-8 lg:grid-cols-2">
            <div class="order-2 lg:order-1">
                <h2>History</h2>
                <p>Quantum Vita Body Therapy is an established massage therapy business, conveniently located in downtown Jersey City. The business has been providing specialty massage therapy for over 15 years; with therapeutic benefits for mind, body, and spirit. Come and treat yourself with an enriching massage either as a new visitor or as one of our loyal customers.</p>
                <h2>Meet the Business Owner</h2>
                <p>Betsy, founder of Quantum Vita, is licensed in New Jersey and has been providing professional massage therapy for her clients during this time. Therapy at Quantum Vita is focused on each clients preferences and needs, with goals of removing stress, anxiety, and pain. Experience your first massage with Quantum Vita and join the loyal customer list.</p>
                <h2>Specialties</h2>
                <p>Select from a range of popular therapy types. Specialties include Deep Tissue, Neuromuscular Therapy, Swedish, Prenatal &amp; Postpartum Massage, Manual Lymphatic Drainage and more. New customers are encouraged to try several therapy types to determine maximum benefit. All natural oils are applied and massage pressure is adjusted as per the requests of each client. Post massage, clients experience the weight of stress removed off their shoulders, as well as enjoying a feeling of well being. Come and seek Peace &amp; Harmony at Quantum Vita Body Therapy.</p>
                <p>Harness the power of Body, Mind &amp; Spirit.</p>
            </div>
            <div class="order-1 lg:order-2">
                <img src="/assets/massage-heals.jpg" alt="Massage Heals" class="rounded-sm">
            </div>
        </section>
    </main>
    <CTA />
</BaseLayout>
