---
import BaseLayout from '../layouts/BaseLayout.astro'

import PageHeader from '../components/PageHeader.astro'
import PageIntro from '../components/PageIntro.astro'
import CTA from '../components/CTA.astro';
---

<BaseLayout title="About Quantum Vita">
    <PageHeader title="About Quantum Vita" image="contact" />
    <PageIntro introTitle="About Quantum Vita" text="Quantum Vita Body Therapy is a massage business that has been serving its clients with customized treatments since 2003." />
    <main class="px-4 pt-4 pb-12 mx-auto prose prose-lg max-w-7xl sm:px-6">
        <section class="grid lg:gap-8 lg:grid-cols-2">
            <div class="order-2 lg:order-1">
                <h2>Specialties</h2>
                <p>Quantum Vita is dedicated to providing the best therapeutic massage to each and every client. With specialties ranging from Deep Tissue, Neuromuscular, Therapy, Swedish,Pre-Post Natal, and Manual Lymph Drainage, you will surely find the right massage treatment to suit your specific needs.</p>
                <h2>History</h2>
                <p>Quantum Vita was established in 2003 with integrity and hard work. We have been providing professional massage therapy services to our clients for over 12 years.</p>
                <h2>Meet the Business Owner</h2>
                <p>Betsy has been practicing massage therapy in New Jersey for over 15 years. She is licensed by the State of New Jersey.  Betsy is passionate about helping with the process of healing her clients and truly believes in the benefits of massage for relieving physical as well as emotional stress.</p>
                <p>With superior service in mind, Betsy goes above and beyond to cater to her clients massage therapy needs. She uses all-natural oils and will adjust the level of pressure per clients' request.</p>
                <p>Harness the power of Body, Mind &amp; Spirit</p>
            </div>
            <div class="order-1 lg:order-2">
                <img src="/assets/massage-heals.jpg" alt="Massage Heals" class="rounded-sm">
            </div>
        </section>
    </main>
    <CTA />
</BaseLayout>
