---
import BaseLayout from '../layouts/BaseLayout.astro'

import PageHeader from '../components/PageHeader.astro'
import PageIntro from '../components/PageIntro.astro'
import Form from '../components/Form.astro'
import CTA from '../components/CTA.astro';
---

<BaseLayout title="Book Your Appointment Today">
    <PageHeader title="Book Your Appointment" image="contact" />
    <main>
        <PageIntro introTitle="Get in Touch">
            <p class="mt-4 text-center">Mea ei paulo debitis affert nominati usu eu, et ius dicta detraxit probatus facete nusquam deleniti ex nec te sit tale atqui abhorreant luptatum conclu</p>
        </PageIntro>
        <Form />
    </main>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.754420170714!2d-74.05278018419787!3d40.723422379330536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c250b21f8d900d%3A0x2178a6c5708beb42!2sQuantum%20Vita%20Body%20Therapy!5e0!3m2!1sen!2sus!4v1629159100639!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="mt-24"></iframe>
</BaseLayout>
