---
import BaseLayout from '../layouts/BaseLayout.astro'

import PageHeader from '../components/PageHeader.astro'
import PageIntro from '../components/PageIntro.astro'
import Gallery from '../components/Gallery.astro';
import CTA from '../components/CTA.astro';
---

<BaseLayout title="Gallery">
    <PageHeader title="Gallery" image="contact" />
    <main class="mb-24 content-wrapper">
        <PageIntro introTitle="Around the studio" text="Check out some photos of our warm and welcoming space" />
        <Gallery />
    </main>
    <CTA />
</BaseLayout>
