<!-- thumbnail images wrapped in a link -->
<section class="grid gap-8 lg:grid-cols-3">
    <a class="thumbnail" href="#img1">
        <img src="/assets/gallery/1.jpg" />
    </a>
    <a class="thumbnail" href="#img2">
        <img src="/assets/gallery/2.jpg" />
    </a>
    <a class="thumbnail" href="#img3">
        <img src="/assets/gallery/3.jpg" />
    </a>
    <a class="thumbnail" href="#img4">
        <img src="/assets/gallery/4.jpg" />
    </a>
    <a class="thumbnail" href="#img5">
        <img src="/assets/gallery/5.jpg" />
    </a>
    <a class="thumbnail" href="#img6">
        <img src="/assets/gallery/6.jpg" />
    </a>
</section>

<!-- lightbox containers hidden with CSS -->
<div class="lightbox animate" id="img1">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/1.jpg" />
</div>

<div class="lightbox animate" id="img2">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/2.jpg" />
</div>

<div class="lightbox animate" id="img3">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/3.jpg" />
</div>
<div class="lightbox animate" id="img4">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/4.jpg" />
</div>
<div class="lightbox animate" id="img5">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/5.jpg" />
</div>
<div class="lightbox animate" id="img6">
    <a class="lightboxClose" href="#!">close</a>
    <img class="animate" src="/assets/gallery/6.jpg" />
</div>


<style>

a.thumbnail img {
	border: 2px solid white;
	border-radius: 8px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16 / 9;
	height: 100%;
	width: 100%;
}

/* Removes browser highlight outlines for all links */

a {
	outline: none;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	visibility: hidden;
	opacity: 0;
    z-index: 1000;
}

.lightboxClose {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.animate {
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-ms-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

/* Styles the lightbox content, centering it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox img, .lightbox iframe {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 40%;
	max-height: 40%;
	border: 2px solid white;
	box-sizing: border-box;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox anchor */

.lightbox:target {
	visibility: visible;
	opacity: 1;
}

.lightbox:target img, .lightbox:target iframe {
	max-width: 95%;
	max-height: 95%;
}

</style>
