---
const {introTitle, } = Astro.props
---

<section>
    <h2 class="text-3xl font-extrabold text-center text-gray-900 sm:text-4xl">
        { introTitle }
    </h2>
    <slot />
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 29" class="w-12">
            <g fill="#1E1E24" clip-path="url(#clip0)">
                <path
                    d="M31.7417 15.5244c-.5189-3.2865-2.4216-5.4919-5.4054-6.74597-1.9892-.82162-4.2811-.38919-5.7081 1.51347-.6054.7784-.9946 1.6433-1.2541 2.6379-.2162.8649-.5622 1.6865-1.1243 2.4216-.8649 1.2108-1.9892 1.5568-3.373 1.0811-.6919-.2162-1.2973-.5622-1.9027-.9514-.3892-.2594-.3892-.2594-.0432-.5621 1.254-.9946 1.9891-2.2487 1.9027-3.8487-.0433-1.0378-.346-2.03241-.9514-2.94051-1.4703-2.37838-3.6757-3.45946-6.35675-2.72433-1.98919.56216-3.54594 1.77297-4.97297 3.15676-.08649.08648-.21622.21621-.21622.21621s.12973.21622.21622.30271c.73514 1.12436 1.47027 2.20536 2.20541 3.32976l.34594.4324s.12973-.2162.30271-.3892c.95135-1.254 2.16216-2.1189 3.63243-2.55134.82162-.21622 1.64323-.25946 2.46483.04324.8649.3027 1.2108.9946 1.0811 1.8595-.1297.6919-.5189 1.081-1.1243 1.3405-.8216.3459-1.9892.3459-2.50812.3459h-.6054s.08648.2163.12973.4325c.25945.9946.47567 2.0324.64864 3.0702.04325.173.08649.4757.08649.4757s.3027-.0432.47568-.0432c.73518-.0433 1.47028-.0865 2.20538.0865.9946.2162 1.946.6054 2.2919 1.6865.3892 1.2108.2595 2.4216-.6054 3.3729-1.254 1.3838-2.9405 1.773-4.75675 1.5135-1.77297-.2162-3.28649-1.081-4.71351-2.1189-1.51352-1.0811-2.5946-2.5513-3.589192-4.1081-.086486-.1297-.389189-.6919-.389189-.6919l.086487.4757c.043243.173.086486.3027.12973.4757.735134 2.2054 1.902704 4.2378 3.372974 6.0108 1.2973 1.5567 2.8973 2.7243 4.8 3.4594 2.68105 1.0379 5.31895.346 7.00545-1.8594 1.2108-1.6 1.427-3.4162 1.1675-5.3622-.0865-.6486-.3892-1.9027-.3892-1.9027s2.4217 1.427 4.8433-.2162c1.0378-.6919 1.6432-1.9027 2.1621-3.027.4325-.9946 1.0811-1.8162 1.8163-2.5514.6486-.6054 1.3837-1.0378 2.2918-.8216 1.2109.2595 1.9027 1.1676 2.2487 2.2919.3027.9946.2595 2.0757.0432 3.1135-.4324 1.946-1.5135 3.4595-3.1567 4.627-1.2973.9514-2.6811 1.1244-4.1946.5622-1.2108-.4324-2.1622-1.2108-3.027-2.1189l-.346-.346s-.0432.3892-.0865.5622c-.1729 2.3351 1.3406 4.5838 3.7622 5.2324 2.5513.6487 4.7135.1298 6.4432-1.9027 1.1244-1.3405 1.773-2.8973 2.2919-4.5405.4757-1.2973.5622-2.5081.346-3.8054z"
                />
                <path
                    d="M20.6693 3.84866c-1.1243 1.03784-2.3784 1.72973-3.9351 1.55676-1.2541-.12973-2.2919-.6919-3.2433-1.47027-.4324-.34595-1.3405-1.12433-1.3405-1.12433s.0865.21622.1297.25946c.5189 1.2973 1.1676 2.46487 2.1189 3.5027.8217.95135 1.8163 1.55676 3.0703 1.77298.9514.17297 1.946.3027 2.8973.21621 1.5568-.12973 2.8973-.73513 3.9351-1.9027.1298-.12973.346-.38919.346-.38919s-.2162-.21622-.3027-.34595c-.8216-.99459-1.6-1.98918-2.3784-3.02702-.0865-.08649-.2162-.30271-.2162-.30271s-.1297.17298-.2162.30271c-.3027.34594-.6054.69189-.8649.95135z"
                />
                <path
                    d="M14.7932 2.24021l2.2322 2.23214 2.2321-2.23214L17.0254.00806634 14.7932 2.24021z"
                />
            </g>
            <defs>
                <clipPath id="clip0">
                    <path fill="#fff" d="M0 0h32v28.1081H0z" />
                </clipPath>
            </defs>
        </svg>
    </div>
</section>
