---
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
const {title} = Astro.props
---

<html lang="en" class="bg-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <title>{title} | Quantum Vita Body Therapy</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Yeseva+One&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/style/global.css" />

    </head>
    <body class="relative bg-[#F3F4F6] h-full mx-auto max-w-[1680px]">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
